<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="/static/change-password.css" rel="stylesheet" type="text/css">

    <title>Change Password</title>
</head>

<body>
    <div class="topnav">
        <a href="/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
            <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
          </svg>  Home</a>
    </div>  

    <div style="text-align:center;" class="content">
        <p>
            <img src="	https://cdn4.iconfinder.com/data/icons/finance-and-banking-free/64/Finance_safe-256.png">
        </p>
        <h1 id="editUserPassword" style="text-align:center;">Edit User Password</h1>
        <input type="text" name="oldPassword" id="oldPassword" placeholder="Old Password"><br><br>
        <input type="password" name="newPassword" id="newPassword" placeholder="New Password"><br><br>
        <input type="button" name="updateInfoButton" id="updateInfoButton" class="btn btn-warning" value="Update Password"><br><br>

        <p style="visibility: hidden; color: red;" id="errorRequiredFields">Fields to fill are empty</p>
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function() {
        $("#updateInfoButton").on('click', function() {
            var token = localStorage.getItem('token');
            var oldPassword = $("#oldPassword").val();
            var newPassword = $("#newPassword").val();
            if (oldPassword === "" || newPassword === "") {
                $('#errorRequiredFields').css( "visibility", "visible" );
                return
            } 
            $.ajax({
                url: '/api/vi/change-user-password',
                method: "PUT",
                headers: {"Authorization": token},
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    old_password: oldPassword,
                    new_password: newPassword
                }),
                success: function() {
                    alert('User password has been changed');
                    var url = "/user-info";
                    $(location).attr('href', url);
                }
            })
        })
    })
</script>    
</html>