<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>Create Post</title>
</head>
<body>
    <div>
        <a href="/"><h2>Main Page</h2></a> 
    </div>  

    <h1 id="textPosts">Create Post</h1>
    
    Title: <input type="text" name="titlePost" id="titlePost"><br><br>
    Body Post: <textarea type="text" name="bodyPost" id="bodyPost" cols="50" rows="5" placeholder="Text"></textarea><br><br>
    <!-- Created: <input type="text" name="createDate" id="createDate"><br><br> -->

    <input type="button" name="sentPostButton" id="sentPostButton" value="Sent">

    <p style="visibility: hidden; color: red" id="errorRequiredFields">Required fields is empty</p>

<hr>
</body>
<script type="text/javascript">
    $("#sentPostButton").on('click', function() {
        var titlePost = $("#titlePost").val();
        var bodyPost = $("#bodyPost").val();
        // var createDate = $("#createDate").val();
        var token = localStorage.getItem('token');
        if (titlePost === "" || bodyPost === "") {
             $('#errorRequiredFields').css( "visibility", "visible" );
             return
        }
        $.ajax({
            url: "/api/v1/create-post",
            method: "POST",
            headers: {"Authorization": token},
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                title: titlePost,
                body: bodyPost
                // created: createDate
            })
        })
    })
</script>
</html>
