<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration user</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>
    <div>
        <a href="/">Main page</a>
    </div>
    <h1>Registration Form</h1>

    PhoneNumber: <input type="text" name="phoneNumber" id="phoneNumber"><br><br>
    FirstName: <input type="text" name="firstName" id="firstName"><br><br>
    SecondName: <input type="text" name="secondName" id="secondName"><br><br>
    Password: <input type="text" name="password" id="password"><br><br>
    
    <input type="button" name="registerButton" id="registerButton" value="Registration Button">

    <!-- <p style="visibility: hidden; color: red;" id="errorRequiredFields">Required fields is empty</p> -->
    <p style="visibility: hidden;" id="errorRequiredFields">Required fields is empty</p>
    <p style="visibility: hidden; color: red;" id="invalidName">Invalid name</p>

</body>
<script>
    $( "#registerButton" ).on('click', function() {
        var phoneNumber = $( '#phoneNumber' ).val() // const?
        var firstName = $( '#firstName' ).val()
        var secondName = $( '#secondName' ).val()
        var password = $( '#password' ).val()
        if (phoneNumber === "" || firstName === ""|| secondName === "" || password === "") {
             $('#errorRequiredFields').css( "visibility", "visible" );
             return
        }    
        $.ajax({
            url: "/api/v1/register-user",
            method: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                phone_number: phoneNumber,
                first_name: firstName,
                second_name: secondName,
                password: password
            }),
            success: function(data) {
                var url = "/login";
                $(location).attr('href', url)
                // window.location.replace("login.html")
                console.log(data)
            },
            error: function(request, status, error) {
                $('#invalidName').css( "visibility", "visible" );
            }
        }) 
    })
</script> 
</html>